
name: Chrome Linux
on:
  schedule:
    - cron: '30 19 * * *' # Every day at 1AM IST (19:30 UTC)
  workflow_dispatch:
  push:
    branches:
      - master
      - feature/update-after-a-long-time
jobs:
  autotests:
    name: Run tests and generate Allure Report
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/cache@v4
        with:
          path: |
            ~/.m2/repository
          key: ${{ runner.os }}-${{ github.workflow }}-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-${{ github.workflow }}-
      - name: Set up JDK
        uses: actions/setup-java@v1
        with:
          java-version: 17

      - name: Install dependencies
        run: mvn dependency:go-offline compile compiler:testCompile

      - name: Run Test
        if: always()
        run: mvn clean test -Dbrowser=chromeHeadless -DbaseUrl=http://the-internet.herokuapp.com -Dsurefire.suiteXmlFiles=testng-parallel.xml
        continue-on-error: true

      - name: Get Allure history
        uses: actions/checkout@v2
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      - name: Allure Report action from marketplace
        uses: simple-elf/allure-report-action@master
        if: always()
        #id: allure-report
        with:
          allure_results: target/allure-results
          #gh_pages: gh-pages
          #allure_report: allure-report
          allure_history: allure-history

      - name: Deploy report to Github Pages
        if: always()
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: allure-history

      - name: Send Allure Report Email
        if: always()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.GMAIL_USERNAME }}
          password: ${{ secrets.GMAIL_APP_PASSWORD }}
          subject: "[Allure Report] SeleniumMaven Test Results - ${{ github.run_id }}"
          to: jagadeesh.cheluvaraj@gmail.com
          from: SeleniumMaven CI <${{ secrets.GMAIL_USERNAME }}>
          body: |
            Hello,

            The latest Allure test report for SeleniumMaven is available.

            View Full Report - (https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/)

            ${{ github }}

            ${{ github.event.repository }}

            ${{ github.event }}

            Regards,
            SeleniumMaven CI
          attachments: allure-history/index.html, allure-history/index.png
